body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-container {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-inner {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-ul-list {
  display: flex;
  align-items: flex-end;
}

.nav-after::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  border-radius: 2px;
  bottom: -1px;
  left: 0;
}

.adress-ul-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-logo,
.footer-logo {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo {
  padding: 24px 0;
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.nav-list-item {
  padding: 24px 0;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-after {
  color: #404bbf;
  position: relative;
}

.nav-list-item:hover,
.nav-list-item:focus,
.address-item:hover,
.address-item:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.address-item {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-container {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  line-height: 1.07;
  color: white;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.hero-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: white;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  color: white;
}

.feature-ul {
  display: flex;
  gap: 24px;
}

.feature-list {
  width: calc((100% - 72px) / 4);
}

.icon-feature-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  background: #f4f4fd;
}

.feature-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon,
.footer-social-icon {
  fill: #f4f4fd;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.team-list-item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 0;
  width: 232px;
  margin: 0 auto;
}

.team-li-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.team-li-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-ul-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: space-between;
}

.portfolio-card-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
}

.portfolio-li {
  width: calc((100% - 48px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box-overlay {
  position: relative;
  width: 360px;
  height: 300px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover .overlay,
.portfolio-li:hover {
  transform: translateY(0);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-li-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-li-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

footer a {
  display: inline-block;
}

.footer-left {
  margin-right: 120px;
  width: 264px;
}

.footer-logo {
  margin-bottom: 18px;
}

.footer-logo-part {
  color: #f4f4fd;
}

.footer-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 274px;
}

.footer-social-container {
  width: 208px;
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
